datasets==2.16.1
fastapi==0.115.6
httpcore==1.0.7
huggingface-hub==0.27.0
litellm==1.56.4
nltk==3.9.1
numpy==1.26.4
openai==1.58.1
pydantic==2.10.4
pydantic_core==2.27.2
requests==2.32.3
SQLAlchemy==2.0.36
starlette==0.41.3
tiktoken==0.8.0
tqdm==4.67.1
uvicorn==0.34.0
whatsapp-api-client-python==0.0.47